<!DOCTYPE html>
<html>


    <head>
        <title>Piedra, papel, tijeras, lagarto y spock</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
</style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>


    <body class="w3-yellow w3-margin w3-myfont" >
    <h1 align="center" class="w3-myfont"> <b>Piedra, papel, tijeras, lagarto y spock</b></h1>
    <h5 align="center" class="w3-myfont"> Creado por: <br>Pablo González (A01756096) y Jacques López (A01746203)</h5>

    <br>
    <div class="w3-row">

    <div class="w3-third" align="center">

    <a href="/tiro/piedra" class="w3-btn"><img src="/static/rock.jpg" style="width:250px; height:250px" /></a>
    </div>

    <div class="w3-third "align="center">
    <a href="/tiro/papel" class="w3-btn" ><img src="/static/paper.jpg" style="width:250px; height:250px" /></a>
    </div>

    <div class="w3-third "align="center">
    <a href="/tiro/tijeras" class="w3-btn"><img src="/static/scissors.jpg" style="width:250px; height:250px" /></a>
    </div>
    </div>

    <div class="w3-row">

    <div class="w3-third" align="center">
    <a href="/tiro/lagarto" class="w3-btn"><img src="/static/lagarto.jpg" style="width:250px; height:250px" /></a>
    </div>

    <div class="w3-third" align="center">
    <a href="/" class="w3-btn"><img src="/static/piedra_papel_tijera_lagarto_spock.png" style="width:250px; height:250px"  /></a>
    </div>

    <div class="w3-third" align="center">
    <a href="/tiro/spock" class="w3-btn"><img src="/static/spock.jpg" style="width:250px; height:250px"  /></a>
    </div>



    </div>


    </body>
</html>